body{
	padding: 0px;
	margin: 0px;
}

#link1,#link2,#link3,#link4{
	height: 100vh;
	width: 100%;
	background-color: red;
	font-family: arial;
	text-align: center;
	font-size: 70px;
	line-height: 100vh;
}

#link2{
	background-color: yellow;
}
#link3{
	background-color: grey;
}
#link4{
	background-color: green;
}

.menu{
	position: fixed;
	top: 50px;
	width: 100%;
}

.submenu{
	height: 30px;
	width: 45%;
	background-color: black;
	float: left;
}

.menuitem{
	height: 30px;
	width: 45%;
	background-color: black;
	float: right;
	margin-top: -70px;

}

.logo{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: black;
	
	margin-top: ;
	margin-left:625px;
	margin-top: -30px;
	font-size: 25px;
	color: white;
	line-height: 100px;
	text-align: center;
}

a{
	font-family: arial;
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin-left: 120px;
}